.cardContainer {
    display: flex;
    flex-direction: column;
    border: black solid 2px;
    border-radius: 5px;
}

.cardItem {
    display: flex;
    flex-direction: column;    
    padding: 10px;
    margin-bottom: 2px;
}

.cardItemEmpty {
    background-color: pink;
}

.cardItemFill {
    background-color: lightgreen;
}